.MenuBar {
  height: 7%;

  border-top: 2px solid black;
  border-bottom: 2px solid black;

  display: flex;

  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}

.unFoldedLeftBar {
  width: 70%;
  height: fit-content;

  display: flex;
  flex-direction: column;

  text-align: left;
  padding: 8px 20px;

  border-bottom: 2px solid black;
  border-right: 2px solid black;

  position: relative;
  z-index: 1;

  background-color: rgb(255, 252, 246);
}

.foldedLeftBar {
  width: 70%;

  padding: 0px 20px;

  display: flex;
  align-items: center;

  border-right: 2px solid black;
}

.unFoldedRightBar {
  width: 30%;

  height: fit-content;

  display: flex;
  flex-direction: column;

  text-align: right;
  padding: 8px 30px;
  padding-bottom: 20px;

  border-bottom: 2px solid black;
  border-left: 2px solid black;

  position: relative;
  z-index: 1;

  background-color: rgb(255, 252, 246);
}

.foldedRightBar {
  width: 30%;
  justify-content: right;

  padding: 0px 30px;

  display: flex;
  align-items: center;
}

.search {
  display: flex;
  font-style: normal;
}

.searchLine {
  width: 90%;
  background-color: rgb(255, 252, 246);
  border: none;
  outline: none;

  border-bottom: 2px solid black;

  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}
